<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Access Control
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/user">Users</a></li>
                        <li><a class="dropdown-item" href="/user/group">User Group</a></li>
                        <li><a class="dropdown-item" href="/user/group/access">User Group Access</a></li>
                        <li><a class="dropdown-item" href="/apikeys">Api Keys</a></li>
                    </ul>
                </li>
            </ul>
            <span class="navbar-text">
                <a class="btn btn-warning" href="/logout">Logout</a>
            </span>
        </div>
    </div>
</nav>
{% include 'components/bootstrap.html' %}
{% include 'components/tabulator.html' %}
