<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Group Access</title>
</head>

<body>
    {% include 'components/nav.html' %}

    <div style="padding: 50px;">
        <form action="/user/group/access/new" method="post">
            <div class="row">
                <div class="col-mb-12 col-sm-4">
                    <label class="form-label">Group</label>
                    <select name="id_group" class="form-select" aria-label="Default select Group">
                        <option selected>Open this select menu</option>
                        {% for group in user_groups %}
                            <option value="{{group['id']}}">{{group['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-mb-12 col-sm-4">
                    <label class="form-label">Route</label>
                    <select name="route" class="form-select" aria-label="Default select Route">
                        <option selected>Open this select menu</option>
                        {% for route in routes %}
                            <option value="{{route['id']}}">{{route['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-mb-12 col-sm-2 form-check" style="margin-top: 38px;">
                    <label class="form-check-label">Can Create</label>
                    <input name="can_create" type="checkbox" class="form-check-input">
                </div>
                <div class="col-mb-12 col-sm-2 form-check" style="margin-top: 38px;">
                    <label class="form-check-label">Can Read</label>
                    <input name="can_read" type="checkbox" class="form-check-input">
                </div>
                <div class="col-mb-12 col-sm-2 form-check" style="margin-top: 38px;">
                    <label class="form-check-label">Can Edit</label>
                    <input name="can_edit" type="checkbox" class="form-check-input">
                </div>
                <div class="col-mb-12 col-sm-2 form-check" style="margin-top: 38px;">
                    <label class="form-check-label">Can Delete</label>
                    <input name="can_delete" type="checkbox" class="form-check-input">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Save new User Group Access</button>
            <a class="btn btn-warning" href="/user/group/access">Cancel</a>
        </form>
    </div>
</body>

</html>