<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User Group</title>
</head>

<body>
    {% include 'components/nav.html' %}

    <div style="padding: 50px;">
        <form action="/user/group/edit/{{data['id']}}" method="post">
            <div class="row">
                <div class="col-mb-6 col-sm-12">
                    <label class="form-label">Name</label>
                    <input name="name" type="text" class="form-control" value="{{data['name']}}">
                </div>
                <div class=" col-mb-6 col-sm-12 form-check" style="margin-top: 38px;">
                    <label class="form-check-label">Is Admin</label>
                    <input name="is_admin" type="checkbox" value="{{data['is_admin']}}"
                        class="form-check-input" {% if data['is_admin']==True %} checked {% endif %} />
                </div>
            </div>
            <br>

            <div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-warning" href="/user/group">Cancel</a>
            </div>
        </form>

        <div>
            <form action="/user/group/delete/{{data['id']}}" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>

</body>

</html>