<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New user</title>
</head>

<body>
    {% include 'components/nav.html' %}

    <div style="padding: 50px;">
        <form action="/user/new" method="post">
            <div class="mb-3">
                <label for="inputName" class="form-label">Name</label>
                <input name="username" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input name="password" type="password" class="form-control">
            </div>
            <div class="col-mb-12 col-sm-4">
                <label class="form-label">User Group</label>
                <select name="id_user_group" class="form-select" aria-label="Default select User Group">
                    <option selected>Open this select menu</option>
                    {% for user_group in user_groups %}
                        <option value="{{user_group['id']}}">{{user_group['name']}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save new User</button>
        </form>
    </div>
</body>

</html>