<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>
    .divMain {
        display: flex;
        height: 200px;
        justify-content: center;
        align-items: center;
    }

    .formLogin {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 70px;
    }

    .image img {
        margin-top: 70px;
        margin-left: 20px;
        width: 150px;
    }
</style>

<body>
    <div class="divMain">
        <form action="/login" method="post" class="formLogin">
            <div>
                <label for="">User</label>
                <input type="text" name="username">
            </div>
            <br>
            <div>
                <label for="">Password</label>
                <input type="password" name="password">
            </div>
            <br>
            <div style="width: 100%;">
                <button class="btn btn-primary" style="width: 100%;" type="submit">Login</button>
            </div>
        </form>
        <div class="image">
            <img src="/static/login_user.png" alt="">
        </div>
    </div>

    {% include 'components/bootstrap.html' %}
</body>

</html>